@{
    ViewBag.Title = "AnaBinaGirisKat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <link href="~/Contents/Css/HomePageCss.css" rel="stylesheet" />
</header>
<div>
    <img src="~/Contents/Images/Maps/Giriş%20Kat.jpg" class="ImageCss" />
</div>
