@{
    ViewBag.Title = "Ekbina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <link href="~/Contents/Css/HomePageCss.css" rel="stylesheet" />
</header>
<h2>Ekbina</h2>
<img src="~/Contents/Images/Maps/Ek%20Bina%20Giriş%20Kat.jpg"  class="ImageCss"/>