@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <link href="~/Contents/Css/HomePageCss.css" rel="stylesheet" />
    <script type="text/javascript">
        //Fonksiyon mouse ile tıklanınca(kiosk da ekrana dokununca) tıklanan lokasyonun x ve y koordinatlarını bulup c# tarafındaki metoda yönlendiriyor.
        function getPositions(ev) {
            if (ev == null) { ev = window.event }
            _mouseX = ev.clientX;
            _mouseY = ev.clientY;
            alert("x :" + _mouseX + "\ny :" + _mouseY);
            if (288 < _mouseX < 711 && 268 < _mouseY < 663) {
                location.replace("Shared/AnaBinaGirisKat");
            }
            else if (1181 < _mouseX < 1741 && 255 < _mouseY < 684) {
                location.replace("Shared/EkBinaGirisKat");
            }
        }
    </script>
</header>
<body>
    <div>
        <img src="~/Contents/Images/Maps/GiriSdeneme.png" onclick="getPositions();" class="ImageCss" />
    </div>
</body>
